{% extends "layout.html" %}

{% block content %}
    <div class="container">
    <h1>Flask-SQLAlchemy Tutorial</h1>
      {% for user in users %}
        <ul id="user.username">
          <li>
              <span class="field-name">User:</span>
              <span class="field-value">{{ user.username }}</span>
          </li>
          <li>
              <span class="field-name">ID:</span>
              <span class="field-value">{{ user.id }}</span>
          </li>
          <li>
              <span class="field-name">Key:</span>
              <span class="field-value">{{ user.key }}</span>
          </li>
        </ul>
      {% endfor %}
    </div>
{% endblock %}
