alembic==1.7.4
aniso8601==9.0.1
Bootstrap-Flask==1.8.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
confluent-kafka==1.7.0
cryptography==35.0.0
dnspython==2.1.0
dparse==0.5.1
email-validator==1.1.3
Flask==1.1.4
Flask-JWT-Extended==3.25.1
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
globus-sdk==2.0.1
google-auth==2.3.0
greenlet==1.1.2
gunicorn==20.1.0
humanize==3.12.0
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
kubernetes==18.20.0
Mako==1.1.5
MarkupSafe==2.0.1
minio==7.1.1
oauthlib==3.1.1
packaging==21.0
passlib==1.7.4
pika==1.2.0
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
safety==1.10.3
# Editable install with no version control (servicex-app==1.0.0rc3)
-e /home/servicex
six==1.16.0
SQLAlchemy==1.4.26
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
websocket-client==1.2.1
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.6.0
