{% extends "base.html" %}
{% block content %}
  <div class="content-section">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
{#          <th scope="col">DID</th>#}
          <th scope="col">Status</th>
        {% if config['ENABLE_AUTH'] %}
          <th scope="col">Submitted by</th>
        {% endif %}
          <th scope="col">Submitted at</th>
          <th scope="col">Age</th>
{#          <th scope="col">Files</th>#}
{#          <th scope="col">Remaining</th>#}
        </tr>
      </thead>
      <tbody>
      {% for req in transformation_requests %}
        <tr>
          <th scope="row" style="word-break: break-all">
            <a href="/transformation-request/{{ req.id }}">{{ req.id }}</a>
          </th>
          <td>{{ req.status }}</td>
        {% if config['ENABLE_AUTH'] %}
          <td>{{ req.submitter_name }}</td>
        {% endif %}
          <td>{{ req.submit_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
          <td>{{ humanize.naturaldelta(req.age) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
