{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% from 'bootstrap/pagination.html' import render_pagination %}


{#{{ render_table(transformation_requests }}#}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Status</th>
      {% if config['ENABLE_AUTH'] %}<th scope="col">Submitted by</th>{% endif %}
      <th scope="col">Submitted at</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
  {% for req in transformation_requests %}
    <tr>
      <th scope="row" style="word-break: break-all">
        <a href="/transformation-request/{{ req.id }}">{{ req.title or "Default title" }}</a>
      </th>
      <td>{{ req.status }}</td>
      {% if config['ENABLE_AUTH'] %}<td>{{ req.submitter_name }}</td>{% endif %}
      <td>{{ req.submit_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      <td>{{ humanize.naturaldelta(req.age) }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% if transformation_requests %}
  {{ render_pagination(pagination, align='center') }}
{% endif %}
